/* Shop Grid
-------------------------------------------------- */
.card-title {
  margin-bottom: 0;
  font-weight: 700;
}

.card-text {
  font-size: calc(1rem + 0.5vw);
}

.col {
  margin-bottom: 15px;
}
.card {
  height: 100%;
}

.card-img-overlay {
  bottom: auto;
}

.bottom-card-overlay {
  bottom: 32%;
  top: auto;
  left: auto;
}

/* Shop Logo */
#shop-logo {
  width: 200px;
}

/* Media Queries
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 992px) {
  .cool-button {
    padding-left: 1.7rem !important;
    padding-right: 1.7rem !important;
  }
  .btn {
    font-size: 0.75rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cool-button {
    padding-left: 1.7rem !important;
    padding-right: 1.7rem !important;
  }
}
