/* Globals
-------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  font-family: "old-standard-tt", serif;
}

section {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-dark-transparent {
  background-color: rgba(26, 27, 29, 0.95);
}

.font-karla {
  font-family: "Karla", sans-serif;
}

/* Navbar
-------------------------------------------------- */
nav a {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #181720;
}

.nav-indicator {
  color: var(--bs-light);
  display: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-md .offcanvas {
  flex-grow: 0;
}

.offcanvas-start {
  width: 300px;
}

#logo {
  margin-right: calc(5.7rem + 1.5vw);
}

/* Header
-------------------------------------------------- */
header {
  height: 30vh;
  background-image: url("../public/images/banner-logo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* About
-------------------------------------------------- */

/* Featured Products
-------------------------------------------------- */
/* Editing images */
.main-row .img-fluid {
  width: 100%;
  object-fit: fill;
}

.medium-picture {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.small-picture {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

/* Editing image captions */
.main-row a {
  font-family: "karla", sans-serif;
  font-size: 80%;
}

/* General styling for figures and figcaptions on mobile*/
figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

figure img {
  transition: transform 0.4s;
}

figure:hover img {
  transform: translateY(-2rem);
}

figcaption {
  height: 30%;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
  padding: 0.75rem;
  font-family: "karla", sans-serif;
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.4s, opacity 0.1s;
}

figcaption .container {
  padding: 0;
}

figcaption h5,
figcaption h6 {
  margin: 0;
  padding: 0;
  color: var(--bs-white);
  font-size: 80%;
}

figcaption span {
  font-size: 60%;
}

figcaption p {
  margin: 0;
  margin-left: auto;
  font-size: 80%;
}

figcaption a {
  margin: 0;
  margin-left: auto;
  border-radius: 2px;
  display: inline-block;
}

#large-title {
  font-size: 60%;
}

/* Media queries for image sizes on different screen widths */
/* Up to extra large */
@media (min-width: 768px) and (max-width: 992px) {
  .medium-picture {
    width: 100%;
    height: 132px;
    object-fit: cover;
  }

  .small-picture {
    width: 132px;
    height: 132px;
    object-fit: cover;
  }
}

/* Up to extra large */
@media (min-width: 993px) and (max-width: 1200px) {
  .medium-picture {
    width: 100%;
    height: 204px;
    object-fit: cover;
  }

  .small-picture {
    width: 204px;
    height: 204px;
    object-fit: cover;
  }
}

/* Up to extra large */
@media (min-width: 1201px) and (max-width: 1400px) {
  .medium-picture {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  .small-picture {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
}

/* Information
-------------------------------------------------- */

/* Contact
-------------------------------------------------- */
#contact {
  background-image: url("../public/images/metal-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#contact-button {
  display: inline-block;
  border-radius: 17px;
  margin: 0 auto;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 50%,
    var(--bs-primary) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease;
}

#contact-button:hover {
  background-position: left bottom;
  color: var(--bs-white) !important;
}

#contact-box {
  width: 69%;
}

/* Media Queries
-------------------------------------------------- */
/* Up to Extra Small */
@media (max-width: 370px) {
  /* Navbar */
  #navbar-brand,
  .navbar-toggler-icon,
  .icons {
    font-size: calc(0.5rem + 1.5vw);
  }

  #logo {
    margin-right: calc(1rem + 2.5vw);
  }

  /* Contact */
  #contact div {
    width: 100%;
  }
  #contact-box {
    width: 100%;
  }
}

/* Extra Small to Small */
@media (min-width: 371px) and (max-width: 576px) {
  /* Navbar */
  #navbar-brand {
    font-size: calc(1rem + 1.5vw);
  }

  #logo {
    margin-right: calc(2rem + 1.5vw);
  }

  /* Featured Products */
  .large-caption {
    height: 25%;
  }
}

/* Up to small */
@media (max-width: 576px) {
  /* Globals */
  .btn {
    font-size: 0.75rem;
  }

  p {
    font-size: calc(0.5rem + 1vw);
  }

  p.lead {
    font-size: calc(0.8rem + 1vw);
  }

  .fs-4 {
    font-size: calc(0.8rem + 1vw) !important;
  }

  /* Navbar */

  /* Contact */
  #contact-box {
    width: 90%;
  }
}

/* Small and up */
@media (min-width: 576px) {
  /* Header */
  header {
    height: 25rem;
  }
}

/* Small to medium */
@media (min-width: 577px) and (max-width: 767px) {
  /* Navbar */
  #logo {
    margin-right: calc(2rem + 1.5vw);
  }

  .large-caption {
    height: 20%;
  }
}

/* Up to medium */
@media (max-width: 767px) {
  /* Navbar */
  .navbar-dark .navbar-nav .nav-link {
    color: #181720;
  }

  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--bs-primary);
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(187, 143, 100, 0.8);
  }

  #navbar-brand {
    margin-right: 0;
    margin-left: 1rem;
  }

  /* Footer */
  .footer-center {
    text-align: center;
  }
}

/* Medium and up */
@media (min-width: 768px) {
  /* Navbar */
  .offcanvas-start {
    width: max-content;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Featured Products */
  /* Figcaption for large photos */
  .large-caption {
    height: 25%;
  }

  .large-title {
    font-size: 35% !important;
  }

  /* Figcaption for small photos */
  .small-caption {
    height: 30%;
    padding: 0.3rem;
  }
  .small-caption h6 {
    font-size: 50%;
  }
  .small-caption span,
  p {
    font-size: 45% !important;
  }
  .small-caption a {
    padding: 2.5px 5px !important;
    font-size: xx-small;
    bottom: 5px;
    right: 5px;
  }
}

/* Large and up */
@media (min-width: 992px) {
  /* Header */
  header {
    height: 30rem;
    object-position: bottom;
    object-fit: cover;
  }

  .large-title {
    font-size: 60% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* Featured Products */
  /* Figcaption for large photos */
  .large-caption {
    height: 20%;
  }
  .large-caption h5 {
    font-size: 100%;
  }
  .large-caption span {
    font-size: 80%;
  }

  /* Figcaption for small photos */
  .small-caption {
    height: 30%;
    padding: 0.5rem;
  }
  .small-caption h6 {
    font-size: 75%;
  }
  .small-caption span,
  p {
    font-size: 60% !important;
  }
  .small-caption a {
    padding: 2.5px 5px !important;
    font-size: xx-small;
    bottom: 10px;
    right: 10px;
  }
}

@media (min-width: 1200px) {
  /* Featured Products */
  /* Figcaption for large photos */
  .large-caption {
    height: 15%;
  }
  .large-caption h5 {
    font-size: 100%;
  }
  .large-caption span {
    font-size: 90%;
  }

  /* Figcaption for small photos */
  .small-caption {
    height: 30%;
    padding: 0.5rem;
  }
  .small-caption h6 {
    font-size: 100%;
  }
  .small-caption span,
  p {
    font-size: 75% !important;
  }
  .small-caption a {
    padding: 4px 16px !important;
    font-size: small;
    bottom: 10px;
    right: 10px;
  }
}

/* Extra extra large and up */
@media (min-width: 1600px) {
  /* Header */
  header {
    height: 37rem;
  }
}
