/* Bootstrap source customizations
-------------------------------------------------- */
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Theme colors
$primary: #133d9a;
$secondary: #4f5e7a;
$success: #3b8d66;
$info: #e0cc18;
$warning: #b87d2e;
$danger: #f44336;
$light: #65afdb;
$dark: #1a1b1d;
$white: #f8f2f6;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

//    Include function stuff like maps here

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap";

// 5. Add additional custom code here
.nav-link.active {
  .nav-indicator {
    display: inline;
  }
}
